#navbar
{
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    background-color: burlywood;
    font-size: 20px;
    /* border: solid 1px black; */
}

.options
{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 20px;
}

.options h3
{
    padding-left: 30px;
    padding-right: 10px;
}

img
{
    height: 300px;
    width: 400px;
}

input
{
    height: 40px;
    width: 200px;
    margin-top: 15px;
    border-radius: 100px;
    outline: none;
    font-size: 20px;
}

#submit
{
    height: 30px;
    width: 100px;
    margin-top: 22px;
    font-size: 20px;
}

h1
{
    text-decoration: underline;
    color: brown;
}

#data1
{
display: grid;
grid-template-columns: repeat(2, 50%);
grid-gap: 1%;
justify-content: center;
padding: 5%;
font-size: 20px;
}

body
{
    background-color:rgb(164, 218, 226);
}