#navbar
{
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    border: solid 1px black;
}

.options
{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.options h3
{
    padding-left: 30px;
    padding-right: 10px;
}

img
{
    height: 300px;
    width: 400px;
}